<html> 
	<head>
		<link href = "/static/information.css" rel = "stylesheet"></link> 
		<script src = "/static/information.js"></script>
	</head>	
	<body> 
		<form action = "/mainpage" method = "Post">
			<u><h2>Information page</h2></u>	
			<table> 
				<tr> 
					<td><a id = "signup" href = "{{url_for('signup')}}">Signup Here</a></label>
				</tr>
				<tr> 
					<td><a id = "signup" href = "{{url_for('main')}}">Login Here</a></td>
				</tr> 
			</table>
		</form> 		
	</body>

</html>