<html> 
	<head>
		<link href = "/static/main.css" rel = "stylesheet"></link> 
	</head>	
	<body> 		
		<a href = "{{url_for ('home')}}">
			<img src = "/static/FitnessHomie.png" height = "auto" width = "8%" id = "logo"></img>
		</a>
        <div id = "heading">
            <u><h1>Main Page</h1></u>
			<a href = "{{url_for('profile')}}" id = "hyperprofile">
				<img src = "/static/profile.png" height = "auto" width = "8%" id = "profile"></img>
			<a>
        </div>
		<div id= "options">
		<table id="everything">
			<tr>
				<td id = "data">
				<table id="status">
					<tr>
						<td><label id="caloriein">Calorie Intake:</label></td>
						<td><label id="calorieout">Calorie Remaining:</label></td>
					</tr>
					<tr>
						<td><label id="proteinin">Protein Intake:</label></td>
						<td><label id="proteinout">Protein Remaining:</label></td>
					</tr>
					<tr>
						<td><label id="carbin">Carbs Intake:</label></td>
						<td><label id="carbout">Carbs Remaining:</label></td>
					</tr>
					<tr>
						<td><label id="fatin">Fat Intake:</label></td>
						<td><label id="fatout">Fat Remaining:</label></td>
					</tr>	
			    </table>
				</td>
			</tr>
			<tr>
				<td id = "data" >
				<table id="menu">
					<tr> 
						<td> 
							<h2>Workout Tracker</h2>
						</td>
						<td> 
							<h2>Macro Tracker</h2>
						</td>
					</tr>
					<tr>
						<td>
							<a id="workouttracker" href="{{url_for ('home')}}"> 
								<img id = "image"src= "/static/workouttracker.png" width = "80%" height = "auto"></img>
							</a>
						</td>
						<td>
							<a id="macrotracker" href="{{url_for ('macro_tracker')}}"> 
								<img id = "image" src= "/static/macrotracker.png" width = "80%" height = "auto"></img>
							</a>
						</td>
					</tr>
					<tr> 
						<td colspan = "2">
							<hr></hr>
						</td>
					</tr>
					<tr> 
						<td> 
							<h2>Macro Information</h2>
						</td>
						<td> 
							<h2>Workout Information</h2>
						</td>
					</tr>				
					<tr>				
						<td>
							<a id="Foodinfo" href="{{url_for ('home')}}"> 
								<img id = "image" src= "/static/infomacro.png" width = "80%" height = "auto"></img>
							</a>
						</td>
						<td>
							<a id="macrotracker" href="{{url_for ('home')}}"> 
								<img id = "image" src= "/static/infoworkout.png" width = "80%" height = "auto"></img>
							</a>
						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</div>
	</body>
</html>
